{% extends "base.html" %}

{% block title %}
    顧客一覧
{% endblock title %}

{% block main %}
{% if account_list %}
    <h1>顧客管理</h1>
    <table border="1" width="80%" name="accounts_list">
    <tr align="center">
        <th>ID</th>
        <th>顧客名</th>
        <th>性別</th>
        <th>年齢</th>
        <th></th>
    </tr>

    {% for account in account_list %}  {# AccountのインスタンスがListViewの〇〇_listによってデータが渡されてる。?#}
        <tr>
            <td>{{ account.id }}</td>
            <td>{{ account.name }}</td>
            <td>{{ account.get_gender_display }}</td>  {# ローカルで見る時数字ではなく文字を表示させる為get~ #}
            <td>{{ account.age }}</td>
            <td><a href="{% url 'account:update' account.id %}">編集</a></td> {# 編集部分 urlのnaemで指定したupdateに飛ぶ　#}
        </tr>
    {% endfor %}
    </table>
    <a href="{% url 'account:create'%}">新規追加</a> {# newに飛ぶ #}
{% else %}
    <p>アカウントがありません</p>
{% endif %}
{% endblock main %}

